/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
  background-color: rgba(0, 0, 0, 0);
  overflow: hidden;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
}

/* Style the links inside the navigation bar */
.navbar a {
  float: right;
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0);
}

/* Add a color to the active/current link */
.navbar a.active {
  background-color: #0f04aa00;
  color: rgb(0, 0, 0);
}

.map{
  align-self: center;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  background-color: #1d1e1f;
  padding: 100px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.form {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 16px;
}
.name {
  flex-grow: 1;
  flex-basis: 160px;
}
.email {
  flex-grow: 3;
  flex-basis: 200px;
}
button {
  flex-grow: 1;
  flex-basis: 80px;
}

.wrapper {
  display: grid;
  grid-template-columns:
    1fr
    min(65ch, 100%)
    1fr;
}
.wrapper > * {
  grid-column: 2;
}
.full-bleed {
  width: 100%;
  grid-column: 1 / 4;
}